<!-- begin footer -->
<div class="footer">
    <div class="container">
        <div class="row start top-4 bottom-8">
            <div class="col-2"> <img id="footerlogo" src="{{#site}}{{root}}{{/site}}rmi_logo_stacked_tag_white.svg">
</div>
            <div class="col-10">
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <a href="https://github.com/RMI-PACTA" target="_blank"><div class="icon fab fa-github"></div></a>
                        <a href="https://twitter.com/RockyMtnInst" target="_blank"><div class="icon fab fa-twitter"></div></a>
                        <a href="https://www.linkedin.com/company/rocky-mountain-institute/" target="_blank"><div class="icon fab fa-linkedin-in"></div></a>
                    </div>
                </div>
                    <div class="col-md-4 col-xs-12">
                        <h5 class="bottom-2"></h5>

                        <p>© RMI</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / end footer -->
